*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: linear-gradient(rgb(255, 30, 30), rgb(255, 123, 0));
    height: 100vh;
}
.header{
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    line-height: 50px;
}
.title-logo{
    font-weight: bold;
    position: absolute;
    left: 0%;
    color: white;
}
.navigation-bar{
    position: absolute;
    right: 10%;
}
.encode-decode{
    width: 300px;
    color: white;
    background: none;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}
option{
    color: black;
}
.text{
    resize: none;
    height: 300px;
    width: 1150px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 20px;
    margin-bottom: 50px;
}
.encode-decode-text{
    resize: none;
    height: 100px;
    width: 1150px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px;
    outline: none;
    border: none;
    border-radius: 20px;
    margin-bottom: 50px;
    background: white;
}
.result{
    text-align: center;
    color: white;
}